name: stac-fastapi
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]


jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - {python: '3.12', pypgstac: '0.9.*'}
          - {python: '3.12', pypgstac: '0.8.*'}
          - {python: '3.11', pypgstac: '0.8.*'}
          - {python: '3.10', pypgstac: '0.8.*'}
          - {python: '3.9', pypgstac: '0.8.*'}

    timeout-minutes: 20

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      # Setup Python (faster than using Python container)
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
          cache: pip
          cache-dependency-path: setup.py

      - name: Lint code
        if: ${{ matrix.python == 3.11 }}
        run: |
          python -m pip install pre-commit
          pre-commit run --all-files

      - name: install lib postgres
        uses: nyurik/action-setup-postgis@v2

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install .[dev,server]
          python -m pip install "pypgstac==${{ matrix.pypgstac }}"

      - name: Run test suite
        run:  python -m pytest --cov stac_fastapi.pgstac --cov-report xml --cov-report term-missing

  validate:
    runs-on: ubuntu-latest
    services:
      pgstac:
        image: ghcr.io/stac-utils/pgstac:v0.9.5
        env:
          POSTGRES_USER: username
          POSTGRES_PASSWORD: password
          POSTGRES_DB: postgis
          PGUSER: username
          PGPASSWORD: password
          PGDATABASE: postgis
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
          --log-driver none
        ports:
          - 5432:5432

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: pip
          cache-dependency-path: setup.py

      - name: Install stac-fastapi and stac-api-validator
        run: |
          python -m pip install --upgrade pip
          python -m pip install .[server] stac-api-validator==0.6.5

      - name: Load data and validate
        run: python -m stac_fastapi.pgstac.app & ./scripts/wait-for-it.sh localhost:8080 && python ./scripts/ingest_joplin.py http://localhost:8080 && ./scripts/validate http://localhost:8080
        env:
          PGUSER: username
          PGPASSWORD: password
          PGHOST: localhost
          PGPORT: 5432
          PGDATABASE: postgis
          APP_HOST: 0.0.0.0
          APP_PORT: 8080
          ENABLE_TRANSACTIONS_EXTENSIONS: TRUE

  test-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: pip
          cache-dependency-path: setup.py

      - name: Install with documentation dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install .[docs,dev,server]

      - name: Build documentation
        run: mkdocs build --strict
